.DS_Store
.vscode
.cache
.idea
.nuxt
.nuxt-generate
.nuxt-storybook
.storybook
Thumbs.db
node_modules
vendor
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.sh
src/class.Mailer.php
src/class.KerkEnIT.php
